@font-face {
    font-family: Boomerang;
    src: url('index/Boomerang.ttf');
}
/* { border: 1px dashed white;
} /**/
html, body { min-height: 100%; } /* necessary for inheriting by percentage */
body {
    background:
        url('index/applique.png') repeat,
        linear-gradient(
            #000   0%,
            #500  18%,
            #500  82%,
            #000 100%
        );
    color: #ccc;
}
body header#header {
    text-align: center;
}
body header#header h1 {
    margin: 0;
    padding: 0.2em;
    height: 1em;
    font: normal normal 5em 'Boomerang', sans-serif;
}
body header#header h1 img {
    height: 100%;
}
body header#header nav {
    display: inline-block;
}
body header#header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body header#header nav ul li {
    float: left;
    margin: auto 0.3em;
}
body header#header nav ul li img {
    height: 3em;
}
body header#header nav a:hover,
body header#header nav a:link,
body header#header nav a:visited {
    outline: 0;
}
body main#main {
    padding: 1em;
}
body main#main section {
    margin: auto;
    width: 1000px;
    padding: 1em;
    text-align: center;
}
body footer#footer {
    text-align: center;
    font-size: 0.8em;
}
body footer#footer p {
    display: inline-block;
    padding: 0.5em;
}
body footer#footer p a {
    text-decoration: none;
}
body footer#footer p img {
    vertical-align: middle;
}
/**/
section.tabletop {
    border: 1px solid black;
    background: url('index/wood.jpg') repeat;
}
iframe#google {
    width: 600px;
    height: 450px;
}
/**/
.box {
    background-color: black;
    border: ridge 3px #333;
}
.shadowed {
    box-shadow: 10px 10px 15px #200;
}
/**/
#slideshow {
    margin:auto;
    position:relative;
    height:418px;
    width:500px;
}
#slideshow img {
    height:418px;
    width:500px;
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}
#slideshow img.active {
    z-index:10;
}
#slideshow img.last-active {
    z-index:9;
}
/**/