@charset "UTF-8";

/*defaults*/
* {
	border-collapse:collapse;
}
html {
	height:100%;
}
body {
	height:100%;
	margin:0px;
	color:#DDD;
	background-color:#500;
}
/*generic*/
.lh {
	list-style-type:none;
	font-weight:bold;
}
.section {
	background:#000;
	border:ridge 3px #666;
}
.shadowed {
	margin-bottom:25px;
	box-shadow: 10px 10px 15px #200;
	
	-webkit-box-shadow: 10px 10px 15px #200;	
}
/*standard*/
#window {
	min-height:100%;
	background:url('images/applique.png') repeat,
			   url('images/top-gradient.png') top left repeat-x,
			   url('images/bottom-gradient.png') bottom left repeat-x;
}
#main {
	width:800px;
	margin:auto;
}
#content {
	padding-top:20px;
	text-align:center;
}
#navbar {
	margin:auto;
}
#footer {
	text-align:center;
	margin:0px auto 25px auto;
	font-size:15px;
	padding:3px 0px;
	width:800px;
}
/*specific*/
#navbar td {
	padding:0px 2px;
}